# Python-specific files
*.pyc
*.pyo
__pycache__/

# SQLite database file
db_web.sqlite
db_users.sqlite
db_transactions.sqlite
db_products.sqlite

# IDE or editor-specific files
.vscode/
.idea/

# OS-specific files (for macOS, Windows, etc.)
.DS_Store         # macOS
Thumbs.db         # Windows

# CSV files
*.csv

#token
token.txt
apikey.txt

# debug
output.txt