# Python-specific files
*.pyc
*.pyo
__pycache__/

# Virtual Environment (venv or other common names)
venv/
env/
.venv/

# SQLite database file
db.sqlite

# IDE or editor-specific files
.vscode/
.idea/

# OS-specific files (for macOS, Windows, etc.)
.DS_Store         # macOS
Thumbs.db         # Windows
